<%- include('./head') -%>
<%- include("./header") -%>


    <div class="side">
       <a href="/ad-profile" class="img"><img src="image/avatar.jpg" alt=""></a>
      <a class="as" style="color: rgb(255, 255, 255);" href="/ad-login"  ><i id="ic" class="fa-solid fa-house" style="padding-left: 40%;"></i><h2> Home </h2></a>
      <a class="as" style="color: rgb(255, 255, 255);" href="/ad-orders">  <i id="ic" class="fa-solid fa-utensils" style="padding-left: 40%;"></i> <h2>Orders </h2></a>
     <a class="as" style="color: rgb(255, 255, 255);" href="/edit-menu">  <i id ="ic" class="fa-solid fa-user" style="padding-left: 40%;"> </i> <h2> Change menu </h2></a>
      <!-- <a style="color: rgb(255, 255, 255);" href="">  <i id="ic" class="fa-solid fa-heart"></i> <h2> Home </h2></a> -->
  
    </div>
