<%- include('./head') -%>
<%- include("./header") -%>
<div class="adlog">
    <form action="/ad-login" method="post">
        <div class="img-welcome">
        <img src="image/pexels-elevate-1267320.jpg" alt="">
    </div>
    <div class="endt">
        <input type="text" placeholder="Enter Your Email">
        <input type="text" placeholder="Enter Login password">
        <button type="submit">Log-in</button>
      <button type="button"><a style="color: black;" href="/ad-signup">Sign-up</a></button>
               
    </form>
    
</div>
</div>
