
<%- include("../head.ejs") %>
<div class="hmbd"> 
<%- include("nav") %>
<%- include("slider") %>
<div class="div-con">
    <Style>
        img{
            border-radius: 10px;
          
        }
        .card img{
            position: relative;
            overflow: hidden;
        }
        #img-con{
            position: relative;       
            top: -35%;
            background-color: beige;
            display: flex;
            flex-direction: column;
           padding-left: 10px;
        }
       
    </Style>
<form method="post" action="/menu"> <div class="card">
    <input style="display: none;" type="text" value="Heloo" name="val">
        <button type="submit" style="border:none; background-color: transparent; outline: none;"><img style="height: 100%; width: 100%;" src="/image/avatar.jpg" alt=""></button>
        <div id="img-con">
            <h3>Hotel Name</h3>
            <div class="star" style="display: flex; flex-direction: row;">
                <% for(let i = 0;i<5;i++){ %>
                   <i class="fa-solid fa-star"></i>
                   <% } %>
                </div>
            <p>Special in: TN style,KL style,Karnaga Style</p>
           </div>
           
</div>
</form>


<form method="post" action="/menu"> <div class="card">
    <input style="display: none;" type="text" value="Heloo" name="val">
        <button type="submit" style="border:none; background-color: transparent; outline: none;"><img style="height: 100%; width: 100%;" src="/image/avatar.jpg" alt=""></button>
        <div id="img-con">
            <h3>Hotel Name</h3>
            <div class="star" style="display: flex; flex-direction: row;">
                <% for(let i = 0;i<5;i++){ %>
                   <i class="fa-solid fa-star"></i>
                   <% } %>
                </div>
            <p>Special in: TN style,KL style,Karnaga Style</p>
           </div>
           
</div>
</form>


<form method="post" action="/menu"> <div class="card">
    <input style="display: none;" type="text" value="Heloo" name="val">
        <button type="submit" style="border:none; background-color: transparent; outline: none;"><img style="height: 100%; width: 100%;" src="/image/avatar.jpg" alt=""></button>
        <div id="img-con">
            <h3>Hotel Name</h3>
            <div class="star" style="display: flex; flex-direction: row;">
                <% for(let i = 0;i<5;i++){ %>
                   <i class="fa-solid fa-star"></i>
                   <% } %>
                </div>
            <p>Special in: TN style,KL style,Karnaga Style</p>
           </div>
           
</div>
</form>


<form method="post" action="/menu"> <div class="card">
    <input style="display: none;" type="text" value="Heloo" name="val">
        <button type="submit" style="border:none; background-color: transparent; outline: none;"><img style="height: 100%; width: 100%;" src="/image/avatar.jpg" alt=""></button>
        <div id="img-con">
            <h3>Hotel Name</h3>
            <div class="star" style="display: flex; flex-direction: row;">
                <% for(let i = 0;i<5;i++){ %>
                   <i class="fa-solid fa-star"></i>
                   <% } %>
                </div>
            <p>Special in: TN style,KL style,Karnaga Style</p>
           </div>
           
</div>
</form>

  <form method="post" action="/menu"> <div class="card">
    <input style="display: none;" type="text" value="HIIII" name="val">
        <button type="submit" style="border: none; outline: none; background-color: transparent;"><img style="height: 100%; width: 100%;" src="/image/avatar.jpg" alt=""></button>
        <div id="img-con">
            <h3>Hotel Name</h3>
            <div class="star" style="display: flex; flex-direction: row;">
                <% for(let i = 0;i<5;i++){ %>
                   <i class="fa-solid fa-star"></i>
                   <% } %>
                </div>
            <p>Special in: TN style,KL style,Karnaga Style</p>
           </div>
           
</div>
</form>
    </div>
</div>
