<%- include("../head.ejs") %>
<div class="nav">
    <div class="sar">
        <input type="text" id="search" placeholder="search your state of taste"> 
        <i id="ic" class="fa-solid fa-magnifying-glass"></i>
   </div>
   <div class="icons">
  <a style="color: black;"   href="/login"  ><i id="ic" class="fa-solid fa-house"></i></a>
  <a style="color: black;" href="/orders">  <i id="ic" class="fa-solid fa-utensils"></i></a>
  <a style="color: black;" href="/profile">  <i id ="ic" class="fa-solid fa-user"></i></a>
  <a style="color: black;" href="">  <i id="ic" class="fa-solid fa-heart"></i></a>
 
</div>
</div>
