<%- include("../head.ejs") %>

<div class="hmbd"> 
    <%- include("nav") %>
<div class="or">
    <div class="or-con">
        <div class="or-img">
<img src="/image/avatar.jpg" alt="">
</div>
<div class="or-content">
<h3>Food name</h3>
<h3>processing</h3>
<form action="/cancel" method="post">
    <button type="submit" class="bt">Cancel</button>
</form>
</div>

</div>
    
</div>