<%- include("../head.ejs") %>

<div class="hmbd"> 
    <%- include("nav") %>
    <div class="prof">
        <div class="img-hold">
            <img src="/image/avatar.jpg" alt="">
        </div>
        <div class="pr-details">
            <h2>name</h2>
            <h2>age</h2>
            <h2>native</h2>
            <h2>email</h2>
            <h2>phone</h2>
            <h2>gender</h2>
            <h2>location</h2>        
        </div>
    </div>

</div>

