<%- include("../head.ejs") %>
<section class="container1">
    <div class="Home">
        <div class="slider">
       <img id="img1" class= "welcome" src="/image/taste.png">
       <!-- <div id="img1" style="background-color: azure;" >Touch with native food</div> -->
       <img id="img2" class= "welcome" src="/image/kerala.png">
        <img id="img3" class= "welcome" src="/image/tamil.png">
    </div>
</div>
</section>